[scheduler]
container_backend = slurm_singularity

# task_concurrency possibly not needed since submitting jobs to Slurm
#task_concurrency = 20

# allows running tasks to continue even if one other task fails
#fail_fast = false

#[call_cache]
# Creates a call cache under the current directory to prevent rerunning of successful jobs
#put = true
#get = true
#dir = "$PWD/miniwdl_call_cache"

[singularity]
exe = ["singularity"]
# miniwdl contains default options to run as fake root which need to be overriden
# --containall: isolates container environment, does not mount home, and
# isolates IPC and PID namespace.
# --no-mount hostfs: Prohibit mounting of any host filesystems unless
# explcitly mounted.
# --network none: Do not allow any network traffic inside and outside
# the container. Omitted currently as postprocess uses for byte-range requests
run_options = ["--containall", "--no-mount", "hostfs"]

# Singularity image cache
image_cache = "/data/openomics/SIFs"

[slurm]
# extra arguments passed to the sbatch command
extra_args = "--partition all --time 12:00:00"

[task_runtime]
defaults = {
        "docker": "ubuntu:20.04",
        "cpu": 16,
        "memory": "64GiB"
    }
